<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <ul>
    <li>
      What is Pipe : Pipe is concept which is invented by Angular it use to transfor the data in to another format before the display.
    </li>
    <li>
      Types of Pipes : 1) Inbuildpipe. 2) Customepipe. 
    </li>
  </ul>
</div>
<div class="text-center">
    <p>Here is demo link of bothe pipes</p>
  </div>
<nav>
  <div class="text-center">
    <a routerLink="/inbuildpipe" routerLinkActive="active"> Inbuildpipe </a>
    <a routerLink="/customepipe" routerLinkActive="active"> Customepipe </a>
  </div>
</nav>
<router-outlet></router-outlet>
